@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
   background-image: url("../images/background2.jpg");
   background-size:cover;
   padding-right: 18%;
   padding-top: 1%;
   height:800px;
   background-repeat: no-repeat;
   margin: 0;
   font-size: 18px;
   font-family: 'Architects Daughter', cursive;
   margin-left: 50px;
   margin-bottom: 60px;
}
  .row {
    display: flex;
    }

  .h1 {
    text-align: center;
    font-size:30px;
   }
   .card {
   padding-top: 100px;
   padding-bottom: 12em;
   padding-left: 100px;
   padding-right: 100px;
   margin-bottom: 40px;
   box-shadow: 0 0px 20px 0 ;
   background-color: rgba(200, 10, 15,1);
   transition: 0.3s;
 }
 /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: red;
  color: white;
  overflow: hidden;
  bottom: 300%;
  padding-top:50px;
  width: 100%;
  font-size: 40px;
}
.checkout {
    border-radius: 20px;
    margin-top: 20px;
}

#btn{
font-size: 30px;
}

#navbar {
  overflow: hidden;
  font-size: 23px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 23px;
}

#navbar a:hover {
  color: white;
}

#navbar a.active {
  background-color: red;
  color: white;
}
.input-group{
  width:50%;
}
.form{
  position: absolute; /*or fixed*/
  right: 0px;
  float: right;
  color:white;
  font-weight:bold;
  display: none;
  font-size: 18px;
}
th{
justify-content: space-between;
}
.total{
  color:white;
  font-weight:bold;
  font-size: 20px;
}
.deliver{
  font-size: 30px;
  right: 0px;
  float: left;
  display: none;
}
#deliver{
  padding-bottom: 30em;
}
.nav-link{
  color:white;
}
